.navbar {
    background-color: #666;
}

#nav {
    padding: 0px;
    height:auto;
}

.nav .nav-item > a {
    color: white;
}

.nav .nav-item > a.active {
    background-color: #8BCD50;
    height: auto;
}

.logo {
    color: #CCFF00;
    font-weight: bold;
    font-style: italic;
}

.logo:hover {
    color: #CCFF00;
    font-weight: bold;
    font-style: italic;
}

#welcome{
    min-height: 100vh;
}

#welcome > p {
    text-align: center;
    padding-top: 20vh;
    font-size: 48px;
}

.konten {
    padding: 0;
    min-height: 100vh;
    background-color: whitesmoke;
}

h4 {
    font-weight: normal;
}

#judul {
    padding-top: 96px;
}

#tabel {
    padding-top: 24px;
}

.thead-dark {
    background-color: #ccc;
}

#judultabel {
    font-size:xx-large;
}

.btn-primary {
    /* background-color: #8BCD50;
    border-color: #8BCD50; */
    color: #8BCD50;
    border-color: #8BCD50;
    background-color: whitesmoke;
}

.btn-primary:hover {
    background-color: #8BCD50;
    border-color: #8BCD50;
}